.AdminVacationCard {
    display: inline-flex;
    height: 450px;
    margin: 10px;
    position: relative;
	
}


.adminCardDestination{

    position: relative;  
    bottom: 5px;
    
    
}

.adminCardDescription{

    overflow: scroll;
    height: 150px;
}


.adminCardButton{
    
    pointer-events: none;
    top: 20px;
    bottom: 20px;
    width: 260px;
       
}

.adminCardDate{

    position: absolute;
    bottom: 15.5px;
    right: 16px;
    width: 300px;
    height: 25px;
    pointer-events: none;
   
    
}

 



