.Vacations {

    margin-top: 100px;
    text-align: center;
    margin-left: 20px;
	
}

.mainTitleUser{

    
    position: relative;
    top: -15px;
    
}


@media only screen and (max-width: 325px) {
	.filterMenu{

        display: flex;
        
    }
}

@media only screen and (max-width: 470px) {
	.filterMenu{

        color: rgb(242, 16, 16);
    }

    .mainTitleUser {
       color: aliceblue;
    }
}

@media only screen and (max-width: 327px) {
	.mainTitle{

        margin-left: 35px;
        display:flex;

    }
}

@media only screen and (max-width: 281px) {
	.mainTitle{

        
        margin-left: 75px;

    }
}

