.graphBox{

    margin-top: 100px;
    
}

.Graph {

    width: 1000px;
    margin: auto;
    background-color: rgb(229, 250, 251);
    
}

.divGraph{

    position: relative;
    height: 500px;

  }

h2{
    text-align: center;
}

@media (max-width: 1002px) {

}
